<br><br><br><br>
<h3>Seus Livros Cadastrados</h3>
<a href="#!/products/new">Adicionar Livro</a>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Preço</td>
            <td>Quantity</td>
            <td>Opções</td>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="product in products">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td><button type="button" data-ng-click="remove(product.id)">Deletar</button></td>
            <td><button type="button" data-ng-click="edit(product.id)">Editar</button></td>
        </tr>
    </tbody>
</table>
