<br><br><br><br>

<div class="container">

  <h3>Seus Livros Cadastrados</h3>

  <a href="#!/products/new">Adicionar Livro</a>

  <div style="overflow-x:auto;">
    <table>
      <tr>
        <th>COD</th>
        <th>Nome</th>
        <th>Nº Páginas</th>
        <th>Área</th>
        <th>Status</th>
        <th>Devolução</th>
        <th></th>
      </tr>
      <tr data-ng-repeat="product in products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.status}}</td>
          <td>{{product.date_reserve}}</td>
          <td>
            <span ng-if="IsLoading(product.status)">
              <button type="button" data-ng-click="remove(product.id)">
                Deletar
              </button> |
              <button type="button" data-ng-click="edit(product.id)">Editar</button>
            </span>
          </td>
      </tr>
    </table>
  </div>
</div>

<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>
